<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KFC</title>
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/orderReceipt.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <%- include('partials/header') %>
    <div class="container">
        <!-- Left section (Image of the meal) -->
        <div class="image-section">
            <img src="<%=order.product.imgsrc%>" alt="Family Bucket Feast" class="meal-image">
        </div>

        <!-- Right section (Details and Price) -->
        <div class="info-section">
            <p>order:<%=order.id%></p>
            <p>product name:<%=order.product.name%></p>
            <p>amount: 1</p>
            <p>total amout:<%=order.totalAmount%></p>
            <p>status:<%=order.status%></p>
            <p>recipient name:<%=order.customer_name%></p>
            <p>delivery addres:<%=order.shippingAddress%></p>
            <p>order date:<%=order.createdAt%></p>
        </div>
    </div>
    <%- include('partials/footer') %>
    </div>
</body>

</html>