<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KFC</title>
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <%- include('../partials/header') %>
    <main>
        <div class="container">
            <h1 class="header">Place an Order</h1>
            <div class="flex items-center flex-col lg-flex-row rounded-2xl shadow-sm p-5">
                <div class="flex-1">
                    <img width="100%" src="<%=product.imgsrc%>" alt="Family Bucket Feast" class="meal-image">
                </div>
                <div class="flex-1">
                    <h1>
                        <%=product.name%>
                    </h1>
                    <p class="price">$<%=product.price%>
                    </p>
                    <p>
                        <%=product.describtion%>
                    </p>
                    <br>
                    <form action="/orders" method="POST">
                        <h1>Delivery Info:</h1>
                        <div class="form-group">
                            <label for="customer_name">Recipient Name:</label>
                            <input type="text" id="customer_name" name="customer_name" required
                                placeholder="Enter recipient name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="delivery_addres">Delivery Address:</label>
                            <input type="text" id="delivery_addres" name="delivery_addres" required
                                placeholder="Enter delivery addres" class="form-control">
                        </div>
                        <input type="text" name="product_id" value="<%=product._id%>" style="display: none;">
                        <input type="number" name="total_amount" value="<%=product.price%>" style="display: none;">
                        <button class="large primary text-white">Place Order &nbsp;&nbsp; $<%=product.price%></button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>

</html>