<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KFC</title>
  <link rel="icon" href="/img/favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/css/app.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
</head>

<body>
  <%- include('../partials/header') %>
  <main>
    <div class="container p-5">
      <form class="rounded-2xl shadow-sm p-5" method="POST" action="/delivery/<%= order._id %>" enctype="multipart/form-data">
        <div class="form-group">
          <label for="id">Order ID</label>
          <input disabled id="id" name="id" value="<%= order._id %>">
        </div>
        <div class="form-group">
          <label for="status">Status <%= order.status %></label>
          <select id="status" name="status" <%= order.status === 'Delivered' ? 'disabled' : '' %>>
            <option disabled value="Pending" <%= order.status === 'Ready For Delivery' ? 'selected' : '' %>>Pending</option>
            <option <%= order.status === 'In Transit' ? 'disabled' : '' %> value="In Transit" <%= order.status === 'In Transit' ? 'selected' : '' %>>In Transit</option>
            <option <%= order.status !== 'In Transit' ? 'disabled' : '' %> value="Delivered" <%= order.status === 'Delivered' ? 'selected' : '' %>>Delivered</option>
          </select>
        </div>
        <% if(order.status === "Delivered"){ %>
          <div class="form-group">
            <label for="photo">Photo</label>
            <img src="<%= order.photo %>">
          </div>
          <% } %>
        <% if(order.status === "In Transit"){ %>
        <div class="form-group">
          <label for="photo">Photo</label>
          <input required type="file" id="photo" name="photo" accept="image/*" />
        </div>
        <% } %>
        <div class="form-group">
          <label for="name">Customer Name</label>
          <input disabled id="name" name="name" value="<%= order.customer_name %>">
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <input disabled id="address" name="address" value="<%= order.shippingAddress %>">
        </div>
        <div class="form-group">
          <label for="amount">Total Amount</label>
          <input disabled id="amount" name="amount" value="<%= order.totalAmount %>">
        </div>
        <% if(order.status !== "Delivered"){ %>
        <button type="submit" class="large primary text-white">Update</button>
        <% } %>
      </form>
    </div>
  </main>
  <%- include('../partials/footer') %>
</body>

</html>