<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KFC</title>
  <link rel="icon" href="/img/favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/css/app.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
</head>

<body>
  <%- include('../partials/header') %>
  <main>
    <div class="container p-5">

      <div class="tab flex">
        <a class="<%= status === 'pending' ? 'active' : '' %>" href="/delivery">Ready For Delivery</a>
        <a class="<%= status === 'in-transit' ? 'active' : '' %>" href="/delivery/in-transit">In Transit</a>
        <a class="<%= status === 'delivered' ? 'active' : '' %>" href="/delivery/delivered">Delivered</a>
      </div>

      <table width="100%">
        <thead>
          <tr>
            <th>ID</th>
            <th>Status</th>
            <th>Amount</th>
            <th>Product</th>
            <th>Address</th>
          </tr>
        </thead>
        <% for (let i=0; i < orders.length; i++) { %>
          <tr>
            <td>
              <a href="/delivery/<%= orders[i]._id %>">
                <%= orders[i]._id %>
              </a>
            </td>
            <td>
              <%= orders[i].status %>
            </td>
            <td>
              <%= orders[i].totalAmount %>
            </td>
            <td>
              <%= orders[i].product.name %>
            </td>
            <td>
              <%= orders[i].shippingAddress %>
            </td>
          </tr>
          <% } %>
      </table>
    </div>
  </main>
  <%- include('../partials/footer') %>
</body>

</html>