<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= process.env.APP_NAME %>
  </title>
  <link rel="icon" href="/img/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/css/delivery.css">
  <link rel="stylesheet" type="text/css" href="/css/header.css">
  <link rel="stylesheet" type="text/css" href="/css/footer.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
</head>

<body>
  <div class="container">
    <%- include('../partials/header') %>
    <div class="main">
      <table width="100%">
        <thead>
          <tr>
            <td>ID</td>
            <td>Status</td>
            <td>Amount</td>
            <td>Items</td>
            <td>Address</td>
          </tr>
        </thead>
        <% for (let i=0; i < orders.length; i++) { %>
        <tr>
          <td>
            <a href="/delivery/<%= orders[i]._id %>"><%= orders[i]._id %></a>
          </td>
          <td><%= orders[i].status %></td>
          <td><%= orders[i].totalAmount %></td>
          <td>
            <% for (let p=0; p < orders[i].products.length; p++) { %>
              <div><%= orders[i].products[p].name %>,<%= orders[i].products[p].price %> x<%= orders[i].products[p].quantity %></div>
            <% } %>
          </td>
          <td>
            <%= orders[i].shippingAddress.zipCode %> <%= orders[i].shippingAddress.state %> <%= orders[i].shippingAddress.country %> <%= orders[i].shippingAddress.city %> <%= orders[i].shippingAddress.street %>
          </td>
        </tr>
        <% } %>
      </table>
    </div>
    <%- include('../partials/footer') %>
  </div>
</body>

</html>